.primary{
    background-color: #FCBE44;
    border-radius: 0px;
    margin: -1px;
}
.primary a{
    background-color: transparent;
    color: #000;
}
.primary a :hover{
    background-color: transparent;
    color: #FFF;
}
















 