
<div class="container">
  <h4>Dashboard</h4>
  <div class="col-md-12 col-lg-12" style="padding:0">

    <div class="panel panel-default">
      <div class="panel-body pannel-padding-left">
        <h5 class="search-style">Search Filter</h5>
        <div class="col-md-3 col-lg-3">
          <h6>Name:</h6>
          <input type="text" [(ngModel)]="nameSearch" class="form-control" style="width:180px;" placeholder="Search By Name">
        </div>
        <div class="col-md-3 col-lg-3">
          <h6>Gender:</h6>
          <input [(ngModel)]="genderSearch" class="form-control" type="text" style="width:180px;" placeholder="Search By Gender" />
        </div>
        <div class="col-md-3 col-lg-3">
          <h6>Birth Year:</h6>
          <input [(ngModel)]="birthyearSearch" class="form-control" type="text" style="width:180px;" name="amount" placeholder="Birth Year"
          />
        </div>
        <div class="col-md-3 col-lg-3">
          <h6>Films Title:</h6>
          <input [(ngModel)]="flimstitleSearch" class="form-control" type="text" style="width:180px;" name="amount" placeholder="Films Title"
          />
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-12 col-lg-12" style="padding:0px" id="tableaAlign">

    <div class="panel panel-default pannel-default-bottom">
      <div class="panel-body" style="overflow: hidden">
        <table class="table" style="overflow:auto">
          <thead>
            <tr class="custom-head-seperator">
              <th class="col-md-3 col-lg-3">Name</th>
              <th class="col-md-3 col-lg-3">Gender</th>
              <th class="col-md-3 col-lg-3">Birth Year</th>
              <th class="col-md-3 col-lg-3">Films Title</th>
            </tr>
          </thead>
          <div class="loadspins" *ngIf="loadSaveSpinner">
            <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px;position:absolute;top:45px;color:#0269c2"></i>
          </div>
          <tbody>
            <tr *ngFor='let item of displayFlimDetails | userSearch:nameSearch:genderSearch:birthyearSearch:flimstitleSearch; let i = index;'>
              <td>{{item.name}}</td>
              <td>{{item.gender}}</td>
              <td>{{item.birth_year}}</td>
              <td>
                <div *ngFor="let chname of item?.flimtitle | flimTitle:flimstitleSearch; let i =index;">
                  {{chname?.title}}
                  <span *ngIf="i<item?.flimtitle.length-1">,</span>
                </div>
              </td>
            </tr>
          </tbody>
          <div *ngIf="displayFlimDetails.length ==0" class="no-data">
              <div class="alert alert-danger" style="text-align:center;">No Details Found</div>
          </div>
        </table>
      </div>
    </div>
  </div>
</div>