.table-fixed>thead {
    width: 97%;
}

th {
    color: #000;
    font-weight: bold;
    font-size: 12px;
}


.search-style{
    padding: 10px 15px;
}
.loadspins{
    position: absolute;
    top: 25%;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 9999;
    text-align: center;
}
.table-fixed>tbody {
    height: 430px;
    overflow-y: auto;
    width: 97%;
    overflow-x: auto;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed thead>tr>th {
    margin-left: -5px;
    display: inline-block;
    border-bottom-width: 0;
}


.table {
    border-top: 3px solid #f86e76;
    position: relative;
}

.panel-body {
    padding: 0px !important;
    min-height: 180px;
}

tbody tr {
    font-size: 0.8em;
}

thead {
    font-size: 0.9em;
}

.width-22 {
    width: 22px;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 5px;
}

.no-data{
    position: absolute;
    width: 90%;
    margin: 50px 0 0 30px;
}




/* media quesries for all devices  */

@media only screen and (max-width: 320px) {
    h4 {
        margin-left: 60px!important;
    }
    h5 {
        margin-left: 50px!important;
    }
    div.container {
        margin-left: 0px!important;
        padding-left: 0px!important;
        width: 350px!important;
        padding-right: 0px!important;
    }
    #tableaAlign {
        margin-left: 50px!important;
        width: 90%!important;
        overflow: auto;
    }
    div.panel-body {
        overflow: scroll!important;
        padding: none;
    }
    th.thAlign {
        width: 100px!important;
    }
    table.table {
        width: 700px!important;
    }
    div.panel.panel-default.pannel-default-bottom {
        width: 85%!important;
    }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
    /* smart phones STYLES GO HERE */
    h4 {
        margin-left: 40px;
    }
    h5 {
        margin-left: 40px!important;
        margin-top: -40px;
    }
    #tableaAlign {
        margin-left: 40px!important;
        width: 90%!important;
        overflow: auto;
    }
    div.panel-body {
        overflow: scroll!important;
    }
    th.thAlign {
        width: 100px!important;
    }
    table.table {
        width: 700px!important;
    }
    div.container {
        margin-left: 0!important;
        margin-right: 0!important;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /*for tablets  */
    app-leb-filter {
        width: 100%!important;
    }
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    height: 100%;
    overflow: hidden;
    overflow: -moz-scrollbars-none;
}
.margin-around-10 {
    margin: 10px 0;
}
.table-expenseInfo>tbody>tr>td {
    padding: 20px 8px;
    min-width: 100px;
}